.hero-section-parent {
    background: rgb(247, 247, 247);
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


.hero-section .left-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
}

.hero-section .left-side .title {
    font-size: 3rem;
    line-height: 1.2;
    width: 72%;
}

.hero-section .left-side .details {
    font-size: 1.8rem;
    line-height: 1.6;
}


.hero-section .left-side .click-btn {
    padding: 2rem 8rem;
    background: black;
    color: white;
    border-radius: 5rem;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-chevron-right {
    font-size: 1.4rem;
}

.hero-section .right-edge {
    width: 50%;
}


.hero-section .right-edge img {
    width: 100%;

}


@media(max-width:1220px) {
    .hero-section-parent {
        height: 100vh;
    }
}


@media(max-width:950px) {
    .hero-section-parent {
        height: unset;
    }

    .hero-section {
        flex-direction: column-reverse;
        gap: 4rem;
        padding-block: 4rem;
    }

    .hero-section .left-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: flex-start;
    }

    .hero-section .left-side .title {
        width: 100%;
    }

    .hero-section .right-edge {
        width: 100%;
    }

    .hero-section .right-edge img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
    }
}