.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 650px;
    background: white;
    justify-content: space-between;
    border-radius: 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card .project-image {
    width: 100%;
}

.card .project-title {
    font-size: 2.4rem;
    text-transform: capitalize;
    padding-inline: 2rem;
}


.card .project-brief {
    font-size: 1.8rem;
    line-height: 1.6;
    padding-inline: 2rem;
}


.card .project-brief:nth-child(4) {
    font-size: 1.8rem;
    line-height: 1.6;
    padding-inline: 2rem;
}

.card .project-brief:nth-child(4) .project-stack {
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 600;
}



.card button {
    padding: 1rem 3rem;
    background: black;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: auto;
    margin: 2rem;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 3rem;
}


.card button:hover {
    background: none;
    border: .2rem solid black;
    color: black;
    text-decoration: none;
}



@media(max-width:950px) {
    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        background: white;
        justify-content: space-between;
        border-radius: 3rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .card .project-title {
        margin-top: 3rem;
    }


}