nav {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin-inline: auto;
    padding-block: 3rem;
    align-items: center;

}

nav .left-side {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav .left-side span {
    font-size: 1.8rem;
}


nav .left-side .line {
    font-size: 3rem;
    font-weight: bold;
}

nav .right-side {
    display: flex;
    gap: 5rem;
    align-items: center;
    font-size: 1.8rem;
}


.fa-times,
.fa-bars {
    display: none;
}

@media(max-width:1435px) {
    nav {
        width: 1200px;
    }
}


@media(max-width:1220px) {
    nav {
        width: 900px;
    }
}



@media(max-width:950px) {
    nav {
        width: 100%;
        padding: 2rem;
        position: relative;
    }



    nav .right-side {
        gap: 4rem;
    }

    .right-side {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        transition: all .4s linear;
        width: 100%;
        display: block;
        padding: 1.5rem 5%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .right-side .link:hover{
        font-weight: bold;
    }

    .active {
        z-index: 100;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }


    .fa-times,
    .fa-bars {
        display: unset;
        font-size: 2rem;
        cursor: pointer;
    }
}