* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;
}

body {
  background: rgb(247, 247, 247);

}

html {
  font-size: 62.5%;
}


section {
  width: 1400px;
  margin-inline: auto;
}


@media(max-width:1435px) {
  section {
    width: 1200px;
  }
}


@media(max-width:1220px) {
  section {
    width: 900px;
  }
}
@media(max-width:950px) {
  section {
    width: 100%;
    padding-inline: 2rem;
  }
}